10-linked_lists.c
add_0.py
0-import_add.py
calculator_1.py
variable_load_5.py

*main.c
vgcore*

*main.py
__pycache__
*.pyc

.*.swp

0x0B-python-input_output/*.txt
0x0B-python-input_output/*.json

# Test file
test.js
6-model_state.py  